@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
.btn-main {
  border-color: #28e110 !important;
  background-color: #28e110 !important;
  color: #ffffff;
}
.btn-main:hover {
  background: #ffffff !important;
  color: #28e110 !important;
}

.text-main {
  color: #28e110 !important;
}

.btn-vue {
  border-color: #42b883 !important;
  background-color: #42b883 !important;
  color: #ffffff;
}
.btn-vue:hover {
  background: #ffffff !important;
  color: #42b883 !important;
}

.text-vue {
  color: #42b883 !important;
}

.btn-highchart {
  border-color: #46465c !important;
  background-color: #46465c !important;
  color: #ffffff;
}
.btn-highchart:hover {
  background: #ffffff !important;
  color: #46465c !important;
}

.text-highchart {
  color: #46465c !important;
}

.btn-oracle {
  border-color: #c74634 !important;
  background-color: #c74634 !important;
  color: #ffffff;
}
.btn-oracle:hover {
  background: #ffffff !important;
  color: #c74634 !important;
}

.text-oracle {
  color: #c74634 !important;
}

.btn-typescript {
  border-color: #3178c6 !important;
  background-color: #3178c6 !important;
  color: #ffffff;
}
.btn-typescript:hover {
  background: #ffffff !important;
  color: #3178c6 !important;
}

.text-typescript {
  color: #3178c6 !important;
}

.btn-gmaps {
  border-color: #ea4336 !important;
  background-color: #ea4336 !important;
  color: #ffffff;
}
.btn-gmaps:hover {
  background: #ffffff !important;
  color: #ea4336 !important;
}

.text-gmaps {
  color: #ea4336 !important;
}

.btn-docker {
  border-color: #1d63ed !important;
  background-color: #1d63ed !important;
  color: #ffffff;
}
.btn-docker:hover {
  background: #ffffff !important;
  color: #1d63ed !important;
}

.text-docker {
  color: #1d63ed !important;
}

.btn-codeigniter {
  border-color: #dd4814 !important;
  background-color: #dd4814 !important;
  color: #ffffff;
}
.btn-codeigniter:hover {
  background: #ffffff !important;
  color: #dd4814 !important;
}

.text-codeigniter {
  color: #dd4814 !important;
}

.btn-php {
  border-color: #4f5b93 !important;
  background-color: #4f5b93 !important;
  color: #ffffff;
}
.btn-php:hover {
  background: #ffffff !important;
  color: #4f5b93 !important;
}

.text-php {
  color: #4f5b93 !important;
}

.btn-mariadb {
  border-color: #c0765a !important;
  background-color: #c0765a !important;
  color: #ffffff;
}
.btn-mariadb:hover {
  background: #ffffff !important;
  color: #c0765a !important;
}

.text-mariadb {
  color: #c0765a !important;
}

.btn-fastapi {
  border-color: #00ccb8 !important;
  background-color: #00ccb8 !important;
  color: #ffffff;
}
.btn-fastapi:hover {
  background: #ffffff !important;
  color: #00ccb8 !important;
}

.text-fastapi {
  color: #00ccb8 !important;
}

.btn-python {
  border-color: #fcd133 !important;
  background-color: #fcd133 !important;
  color: #ffffff;
}
.btn-python:hover {
  background: #ffffff !important;
  color: #fcd133 !important;
}

.text-python {
  color: #fcd133 !important;
}

.btn-postgre {
  border-color: #699eca !important;
  background-color: #699eca !important;
  color: #ffffff;
}
.btn-postgre:hover {
  background: #ffffff !important;
  color: #699eca !important;
}

.text-postgre {
  color: #699eca !important;
}

.btn-sqlalchemy {
  border-color: #d61f00 !important;
  background-color: #d61f00 !important;
  color: #ffffff;
}
.btn-sqlalchemy:hover {
  background: #ffffff !important;
  color: #d61f00 !important;
}

.text-sqlalchemy {
  color: #d61f00 !important;
}

.btn-minio {
  border-color: #c72c48 !important;
  background-color: #c72c48 !important;
  color: #ffffff;
}
.btn-minio:hover {
  background: #ffffff !important;
  color: #c72c48 !important;
}

.text-minio {
  color: #c72c48 !important;
}

.btn-laravel {
  border-color: #ff291b !important;
  background-color: #ff291b !important;
  color: #ffffff;
}
.btn-laravel:hover {
  background: #ffffff !important;
  color: #ff291b !important;
}

.text-laravel {
  color: #ff291b !important;
}

.btn-tailwind {
  border-color: #36bff8 !important;
  background-color: #36bff8 !important;
  color: #ffffff;
}
.btn-tailwind:hover {
  background: #ffffff !important;
  color: #36bff8 !important;
}

.text-tailwind {
  color: #36bff8 !important;
}

.btn-handsontable {
  border-color: #02339e !important;
  background-color: #02339e !important;
  color: #ffffff;
}
.btn-handsontable:hover {
  background: #ffffff !important;
  color: #02339e !important;
}

.text-handsontable {
  color: #02339e !important;
}

.btn-mongodb {
  border-color: #00684a !important;
  background-color: #00684a !important;
  color: #ffffff;
}
.btn-mongodb:hover {
  background: #ffffff !important;
  color: #00684a !important;
}

.text-mongodb {
  color: #00684a !important;
}

.btn-phpspreadsheet {
  border-color: #57bc57 !important;
  background-color: #57bc57 !important;
  color: #ffffff;
}
.btn-phpspreadsheet:hover {
  background: #ffffff !important;
  color: #57bc57 !important;
}

.text-phpspreadsheet {
  color: #57bc57 !important;
}

.btn-xlwings {
  border-color: #00a83f !important;
  background-color: #00a83f !important;
  color: #ffffff;
}
.btn-xlwings:hover {
  background: #ffffff !important;
  color: #00a83f !important;
}

.text-xlwings {
  color: #00a83f !important;
}

.btn-javascript {
  border-color: #fcdc00 !important;
  background-color: #fcdc00 !important;
  color: #ffffff;
}
.btn-javascript:hover {
  background: #ffffff !important;
  color: #fcdc00 !important;
}

.text-javascript {
  color: #fcdc00 !important;
}

.btn-goauth {
  border-color: #009688 !important;
  background-color: #009688 !important;
  color: #ffffff;
}
.btn-goauth:hover {
  background: #ffffff !important;
  color: #009688 !important;
}

.text-goauth {
  color: #009688 !important;
}

.btn-mixpanel {
  border-color: #7856ff !important;
  background-color: #7856ff !important;
  color: #ffffff;
}
.btn-mixpanel:hover {
  background: #ffffff !important;
  color: #7856ff !important;
}

.text-mixpanel {
  color: #7856ff !important;
}

.btn-dotnet {
  border-color: #ac99ea !important;
  background-color: #ac99ea !important;
  color: #ffffff;
}
.btn-dotnet:hover {
  background: #ffffff !important;
  color: #ac99ea !important;
}

.text-dotnet {
  color: #ac99ea !important;
}

.btn-csharp {
  border-color: #c273d9 !important;
  background-color: #c273d9 !important;
  color: #ffffff;
}
.btn-csharp:hover {
  background: #ffffff !important;
  color: #c273d9 !important;
}

.text-csharp {
  color: #c273d9 !important;
}

.btn-chartjs {
  border-color: #fe777b !important;
  background-color: #fe777b !important;
  color: #ffffff;
}
.btn-chartjs:hover {
  background: #ffffff !important;
  color: #fe777b !important;
}

.text-chartjs {
  color: #fe777b !important;
}

.btn-linkedin {
  border-color: #599adf !important;
  background-color: #599adf !important;
  color: #ffffff;
}
.btn-linkedin:hover {
  background: #ffffff !important;
  color: #599adf !important;
}

.text-linkedin {
  color: #599adf !important;
}

.btn-github {
  border-color: #000 !important;
  background-color: #000 !important;
  color: #ffffff;
}
.btn-github:hover {
  background: #ffffff !important;
  color: #000 !important;
}

.text-github {
  color: #000 !important;
}

.btn-instagram {
  border-color: #d6249f !important;
  background: #d6249f !important;
  background: radial-gradient(circle at 0% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%) !important;
}
.btn-instagram:hover {
  background: #ffffff !important;
  color: #d6249f !important;
}

body {
  font-family: "Maven Pro", sans-serif;
  padding-top: 70px;
}

.full-screen {
  padding: 8rem 0;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.gap-1 {
  gap: 0.5rem;
}

.gap-2 {
  gap: 1rem;
}

.gap-3 {
  gap: 1.5rem;
}

.gap-4 {
  gap: 2rem;
}

.gap-5 {
  gap: 2.5rem;
}

.gap-6 {
  gap: 3rem;
}

.small-text {
  color: #5b5b5b;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 50px;
  letter-spacing: 0.2px;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  font-weight: normal;
  text-decoration: none !important;
  transition: all 0.4s ease;
}
a:hover {
  color: #28e110 !important;
}

.navbar-brand .uil {
  font-size: 40px;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: #5b5b5b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  letter-spacing: -1px;
}

h1 {
  color: #212121;
  font-size: 2.8em;
  margin: 24px 0;
}

h2 {
  color: #353535;
  font-size: 2.4em;
  font-weight: bold;
}

h3 {
  color: #484848;
}

h3,
b,
strong {
  font-weight: bold;
}

.custom-btn {
  background: #f2f2f1;
  color: #5b5b5b;
  font-weight: bold;
  border-radius: 50px;
  padding: 13px 29px;
  font-size: 14px;
  line-height: normal;
  overflow: hidden;
  flex-shrink: 0;
  transition: all 0.4s ease;
}
.custom-btn:hover {
  color: #28e110;
}
.custom-btn.custom-btn-bg {
  background: #474559;
  color: #ffffff;
}
.custom-btn.custom-btn-bg:hover {
  background: #28e110;
  color: #ffffff !important;
}
.custom-btn.custom-btn-sm {
  padding: 5px 15px;
  font-size: 0.75rem;
  line-height: 1.5;
}

.animated {
  position: relative;
}

.animated-info {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  min-width: 360px;
  position: relative;
}

.animated-item {
  color: #28e110;
}

.animated-item {
  font-size: 38px;
  line-height: inherit;
  display: block;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  animation: BottomTotop 6s linear infinite 0s;
}
.animated-item:nth-child(2n+2) {
  animation-delay: 2s;
}
.animated-item:nth-child(3n+3) {
  animation-delay: 4s;
}

@keyframes BottomTotop {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(5px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  30% {
    opacity: 0;
    transform: translateY(5px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999999;
  will-change: transform;
  transition: transform 200ms linear;
}
.navbar[class*=-unpinned] {
  transform: translate(0, -150%);
}
.navbar[class*=-pinned] {
  transform: translate(0, 0);
}
.navbar[class*=headroom--not-top] {
  background: #ffffff;
  border-bottom: 1px solid #f0f0f0;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding: 0 20px;
}

.nav-link {
  font-weight: bold;
  font-size: 16px;
  overflow: hidden;
}
.nav-link span {
  position: relative;
  display: inline-block;
  transition: transform 0.3s;
}
.nav-link span:before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  transform: translate3d(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #28e110;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:focus span,
.navbar-light .navbar-nav .nav-link:hover span {
  transform: translateY(-100%);
}

.navbar-light .navbar-toggler-icon {
  background: none;
}

.navbar-toggler {
  border: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}
.navbar-toggler:focus {
  outline: none;
}
.navbar-toggler[aria-expanded=true] .navbar-toggler-icon:first-child {
  transform: rotate(45deg);
  top: 6px;
}
.navbar-toggler[aria-expanded=true] .navbar-toggler-icon:nth-child(2) {
  display: none;
}
.navbar-toggler[aria-expanded=true] .navbar-toggler-icon:last-child {
  transform: rotate(-45deg);
  bottom: 1px;
}
.navbar-toggler .navbar-toggler-icon {
  background: #212121;
  display: block;
  width: 100%;
  height: 2px;
  margin: 5px 0;
  transition: all 0.4s ease;
  position: relative;
}

.copyright-text {
  font-size: 16px;
  font-weight: normal;
  display: block;
}

.color-mode {
  font-weight: bold;
  cursor: pointer;
}

.color-mode-icon {
  position: relative;
  right: 6px;
}
.color-mode-icon:after {
  font-family: "unicons";
  content: "\ea9f";
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
}
.color-mode-icon.active:after {
  font-family: "unicons";
  content: "\eb65";
  font-size: 30px;
  color: #ffffff;
}

.dark-mode {
  background: #0c0c0d;
}
.dark-mode .navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
}
.dark-mode .navbar-light .navbar-nav .nav-link:hover {
  color: #28e110;
}
.dark-mode .navbar[class*=headroom--not-top] {
  background: #0c0c0d;
  border-bottom: 1px solid #1f1f1f;
}
.dark-mode .small-text {
  background: #0d0c15;
  color: #ffffff;
}
.dark-mode .feature-card .uil,
.dark-mode .navbar-light .navbar-brand,
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6,
.dark-mode .color-mode {
  color: #ffffff;
}
.dark-mode .owl-carousel .owl-nav button.owl-next,
.dark-mode .owl-carousel .owl-nav button.owl-prev,
.dark-mode .owl-carousel button.owl-dot {
  color: #ffffff;
}

.timeline-wrapper {
  position: relative;
  padding: 22px 0;
}
.timeline-wrapper:last-child:before {
  height: 0;
}
.timeline-wrapper:before {
  content: "";
  background: #474559;
  width: 3px;
  height: 100%;
  position: absolute;
  left: 38px;
}

.timeline-yr {
  background: #474559;
  border-radius: 100%;
  position: absolute;
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
}
.timeline-yr span {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  display: block;
  line-height: 75px;
}

.timeline-info {
  display: inline-block;
  vertical-align: top;
  margin-left: 6em;
}
.timeline-info small {
  color: #474559;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

.owl-carousel .owl-nav span {
  display: none;
}
.owl-carousel .owl-nav .owl-prev:before,
.owl-carousel .owl-nav .owl-next:before {
  background: none;
  padding: 0;
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-family: "unicons";
  font-size: 100px;
  line-height: normal;
}
.owl-carousel .owl-nav .owl-prev:before {
  content: "\e833";
  left: -45px;
}
.owl-carousel .owl-nav .owl-next:before {
  content: "\e836";
  right: -45px;
}

.owl-theme .owl-nav [class*=owl-] {
  background: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
}
.owl-theme .owl-nav [class*=owl-]:hover {
  color: #28e110;
}
.owl-theme .owl-dots .owl-dot {
  outline: none;
}
.owl-theme .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #5b5b5b;
}

.google-map iframe {
  width: 100%;
}

.contact-form {
  position: relative;
}
.contact-form .form-control {
  background: transparent;
  border-radius: 2px;
  outline: none;
  box-shadow: none;
  font-weight: bold;
  margin: 16px 0;
}
.contact-form .form-control:not(textarea) {
  height: 48px;
}
.contact-form .form-control:hover, .contact-form .form-control:focus {
  border-color: #28e110;
}
.contact-form .submit-btn {
  background: #28e110;
  border-radius: 50px;
  color: #ffffff;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.contact-form .submit-btn:hover {
  background: #474559;
}

.contact-info {
  background: #474559;
  border-radius: 0 0 3px 3px;
  position: relative;
  bottom: 8px;
}
.contact-info p,
.contact-info a {
  color: #f7f3f3;
}

.social-links .uil {
  color: #f7f3f3;
  font-size: 20px;
  display: block;
  margin: 5px 0;
}
.social-links .uil:hover {
  color: #28e110;
}

@media (min-width: 1270px) {
  .owl-theme .owl-dots {
    position: relative;
    bottom: 50px;
  }
}
@media (max-width: 991px) {
  .full-screen {
    padding-bottom: 4rem;
  }
  .color-mode {
    display: none;
  }
  .about-image {
    margin-top: 4em;
  }
  .mobile-mt-2,
  .contact-form {
    margin-top: 2em;
  }
  .contact-info {
    padding: 0 2rem;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 2.4em;
  }
  h2 {
    font-size: 2em;
  }
  .animated-item {
    font-size: 28px;
  }
  .navbar-collapse {
    background: #ffffff;
    text-align: center;
    padding-bottom: 20px;
  }
  .navbar-expand-sm .navbar-nav .nav-link {
    padding: 3px 20px;
  }
}
@media (max-width: 580px) {
  .animated-info {
    min-width: 200px;
  }
  .animated-item {
    font-size: 30px;
  }
  .custom-btn-group {
    display: flex;
    gap: 1rem;
    text-align: center;
  }
  .custom-btn {
    display: block;
    margin: 10px 0;
  }
  .owl-theme .owl-nav {
    display: none;
  }
  .timeline-info small {
    display: block;
    margin: 10px 0 0 0;
  }
}
@media (max-width: 320px) {
  .animated-text {
    margin-top: 0;
  }
  .about-text {
    text-align: center;
  }
  .full-screen {
    padding: 4rem 0;
  }
  .mobile-block {
    display: block;
  }
  .contact-info {
    flex-direction: column;
  }
  .social-links li {
    display: inline-block;
    vertical-align: top;
  }
}

/*# sourceMappingURL=tooplate-style.css.map */
